/* FOR TABLET */

@media screen and (min-width: 768px) {
  .flex{
    justify-content: space-between;
  }
  
  /* DEMO CARD */
  .card.bg-blue{
    width: calc(100% / 3 - .5rem);
  }

  .card.bg-blue:first-child{
    width: calc(100% / 3 * 2 - .25rem);
  }
  /* END DEMO CARD */

  /* TESTIMONIAL */
  .card.bg-purple{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding: 1.5rem .5rem;
  }

  figure.circle{
    margin: .5rem;
  }

  .card.bg-purple div{
    width: 75%;
  }

  .card.bg-purple div.bold{
    font-size: 1rem;
  }
  /* END TESTIMONIAL */

  /* BENEFIT */
  .benefit-card{
    width: calc(100% / 2 - .5rem);
  }
  /* END BENEFIT */
  
  /* ABOUT US */
  .about-us{
    width: 55%;
  }

  .tizio p.bold{
    font-size: 1.5rem;
  }

  #about-us-button{
    font-size: .7rem;
    padding: .5rem;
  }

  .tizio{
    width: 35%;
  }
  /* END ABOUT US */
}

/* FOR DESKTOP */
@media screen and (min-width: 992px) {
  .container{
    max-width: 990px;
  }

  .card.bg-blue:first-child{
    display: flex;
  } 

  .card.bg-blue:first-child div{
    max-width: 350px;
  }

  .card.bg-blue:first-child img{
    width: 260px;
  }


  ul.absolute{
    position: static;
  }

  div.menu:hover ul{
    display: flex;
  }

  nav ul{
    display: flex;
    margin: .5rem;
    padding: 0;
  }

  .fa-bars{
    display: none;
  }

  .cards-plan{
    justify-content: center;
    align-items: end;
  }

  .card-plan{
    width: 40%;
    margin: 0 2rem;
  }

  /* BENEFIT */
  .benefit-card{
    width: calc(100% / 3 - .5rem);
  }
  /* END BENEFIT */
  
}
