*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

ul{
  list-style: none;
}

h2,
p{
  padding-bottom: 1.5rem;
  line-height: 2rem;
}

button{
  border: none;
  padding: .5rem 4rem;
  font-weight: bold;
  color: white;
  font-size: 1rem;
  border-radius: 30px;
  margin-bottom: 1.5rem;
}

/* FLEX */
.flex{
  display: flex;
}

.flex-column{
  flex-direction: column;
}

.wrap{
  flex-wrap: wrap;
}

.space-between{
  justify-content: space-between;
}
/* END FLEX */

.container{
  width: 90%;
  margin: 0 auto;
  padding: 1rem 0;
}

.card{
  margin: .5rem 0;
  border-radius: 10px;
  padding: 1.5rem;
}

.bg-purple{
  background-color: purple;
  color: white;
}

.bg-white{
  background-color: white;
  color: black;

}

.text-center{
  text-align: center;
}

/* HEADER */
body>header{
  background-color: #0084fd;
  line-height: 2rem;
  color: white;
}

li i{
  font-size: 1.5rem;
  vertical-align: middle;
}
/* END HEADER */
/* MAIN */
main img{
  width: 100%;
  display: flex;
}

/* SECTION DEMO CARD */
.bg-blue{
  background-color: lightskyblue;
}

.card.bg-blue:first-child{
  padding-bottom: 0;
}

.bg-blue>i,
.bg-blue>h2{
  color: #0083fc;
}

.bg-blue button{
  background-color: #0084fd;
}

.bg-blue>i{
  font-size: 5rem;
  margin-bottom: 1.5rem;
}
/* END SECTION DEMO CARD */

/* STRATEGIC PLAN */

/* END STRATEGIC PLAN */

/* TEATIMONIAL */
/* END TESTIMONIAL */

/* BENEFITS */
/* END BENEFITS */

/* ABOUT US */
/* END ABOUT US */

/* GET STARTED */
/* END GET STARTED */



/* END MAIN */

/* FOOTER */
  footer{
    background-color: black;
    color:white
  }
/* END FOOTER */

