*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

ul{
  list-style: none;
}

h2,
p{
  padding-bottom: 1rem;
}

/* FLEX */
.flex{
  display: flex;
}

.flex-column{
  flex-direction: column;
}

.wrap{
  flex-wrap: wrap;
}

.space-between{
  justify-content: space-between;
}
/* END FLEX */

.container{
  width: 90%;
  margin: 0 auto;
}

/* HEADER */
body>header{
  background-color: blue;
  line-height: 3rem;
  color: white;
}
/* END HEADER */

/* MAIN */
/* SECTION BLUE CARD */
.card{
  background-color: lightskyblue;
  margin: 1rem 0;
  border-radius: 10px;
  padding: 1rem;
}
/* END SECTION BLUE CARD */

/* END MAIN */

/* FOOTER */

/* END FOOTER */

