*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

ul{
  list-style: none;
}

h2,
p{
  padding-bottom: 1rem;
}

/* FLEX */
.flex{
  display: flex;
}

.flex-column{
  flex-direction: column;
}

.wrap{
  flex-wrap: wrap;
}

.space-between{
  justify-content: space-between;
}
/* END FLEX */

.container{
  width: 90%;
  margin: 0 auto;
  padding: 1rem 0;
}

.card{
  margin: .5rem 0;
  border-radius: 10px;
  padding: 1rem;
}

.bg-purple{
  background-color: purple;
  color: white;
}

.bg-white{
  background-color: white;
  color: black;

}

.text-center{
  text-align: center;
}

/* HEADER */
body>header{
  background-color: blue;
  line-height: 3rem;
  color: white;
}
/* END HEADER */
/* MAIN */
/* SECTION DEMO CARD */
.bg-blue{
  background-color: lightskyblue;
}
/* END SECTION DEMO CARD */

/* STRATEGIC PLAN */
/* END STRATEGIC PLAN */

/* TEATIMONIAL */
/* END TESTIMONIAL */

/* BENEFITS */
/* END BENEFITS */

/* ABOUT US */
/* END ABOUT US */

/* GET STARTED */
/* END GET STARTED */



/* END MAIN */

/* FOOTER */
  footer{
    background-color: black;
    color:white
  }
/* END FOOTER */

